.mon-pdt {
    max-width: 1000px;
}

.texto {
    margin-left: 200px;
    margin-top: 75px;
}
.box {
    margin-top: 150px;
    margin-bottom: 150px;
}
.desc {
    margin-top: 25px;
    margin-bottom: 55px;
}

.btn {
    background-color: #e0cda9;
    color: black;
    border-color: #e0cda9;
}
.btn:hover {
    background-color: #c5b494;
    color: black;
    border-color: #c5b494;
}

.img-montre {
    border: 1px solid;
    border-radius: 10px;
    width: 100%; /* Permet à l'image de remplir la largeur de la div */
    height: 100%; /* Permet à l'image de remplir la hauteur de la div */
    object-fit: cover; /* Ajuste l'image pour couvrir tout l'espace disponible, en conservant ses proportions */
    box-shadow: 0px 10px 20px rgb(0, 0, 0, 0.1);
}
