.formulairePL {
    margin: 100px auto; /* Center the form horizontally and adjust top and bottom margins */
    width: 80%; /* Adjust width as needed */
}

#livraisonpaiment {
    display: flex;
    justify-content: space-between; /* Distribute space evenly */
    gap: 20px; /* Add space between the sections */
}

#livraison,
#paiement {
    /* Ensure both divs take equal space */
    flex: 1;
}

#livraisonpaiment label {
    display: block;
    margin-bottom: 10px;
}

#livraisonpaiment input[type="text"] {
    width: 100%; /* Ensure the input fields take up the full width of their container */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.valider {
    display: block;
    margin: 40px auto; /* Center the button horizontally and add top margin */
    background-color: #e0cda9;
    color: black; /* Set the text color */
    padding: 10px 20px; /* Increase the button size */
    border: none; /* Remove the button border */
    border-radius: 5px; /* Round the button corners */
    cursor: pointer; /* Show the pointer cursor on hover */
}

.valider:hover {
    background-color: #d0bd99; /* Add a hover effect */
}
